*.iml
.gradle
*.dex
*.class
bin/
gen/
out/
*.log
proguard/
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.navigation/
.externalNativeBuild
.cxx
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
vcs.xml
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
freeline.py
freeline/
freeline_project_description.json